body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
    background-color: black;
}

.board-row{
    clear: both;/* no element appears to the left or right of the floated element*/
    display: table; /*element to behave like a table*/
    content: "";
}

.nextPlayer{
    margin-bottom: 10px ;
    color: whitesmoke;
}

/* the individual button that will display X or O */
.square{
    background: black;
    border: 3px solid whitesmoke;
    float: right;
    font-size: 70px;
    font-weight: bold;
    line-height: 25px;
    height: 75px;
    width: 75px;
    margin-right: -1px;
    margin-top: -5px;
    padding: 0 ;
    text-align: center;
    color: whitesmoke;
}

.square:focus{
    outline: invert;
}

.game{
    /* the items to take the same length and be displayed horizontally */
    display: flex;
    flex-direction: row;
}

.game-info{
    margin-left: 20px;
}