body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin: 20px;
}

.board-row{
     clear: both;/* no element appears to the left or right of the floated element*/
    display: table; /*element to behave like a table*/
    content: "";
}

.nextPlayer{
    margin-bottom: 10px ;
}

/* the individual button that will display X or O */
.square{
    background: white;
    border: 1px solid rgb(60, 60, 60);
    /* float: right; */
    font-size: 20px;
    font-weight: bold;
    line-height: 35px;
    height: 35px;
    width: 35px;
    margin-right: -1px;
    margin-top: -4px;
    padding: 0;
    text-align: center;
}

.square:focus{
    outline: invert;
}

.game{
    /* the items to take the same length and be displayed horizontally */
    display: flex;
    flex-direction: row;
}

.game-info{
    margin-left: 20px;
}