.sticky{
    position: fixed;
    top: 0 !important;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.9);
    /* border-bottom: 0; */
}

/* .sticky + .main-container{
    padding-top: 5000px;
} */

.main-container.top-padding{
    padding-top: 400px;
}
nav{
    border-bottom: 1px solid white;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    margin: auto;
    align-items: center;
}

li{
    padding-bottom:10px;
}

ul li a{
    text-decoration: none;
    font-size: 30px;
    background-image: linear-gradient(to right, orange,white,  red,whitesmoke);
    -webkit-background-clip: text;  
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

@media only screen and (max-width:480px){

    li{
        margin: 1px 1px 1px -10%;
    }

    ul li a{
        text-decoration: none;
        font-size: 25px;
    }
}